.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
  &__logo {
    a > img {
      width: 60px;
    }
  }
  &__list {
    display: flex;
  }
  &__link {
    &:not(:last-child) {
      margin-right: 30px;
    }
    > a {
      transition: 0.3s ease;
      &:hover {
        color: #df1a33;
      }
    }
  }
}
