.error {
  &__container {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    > a {
      padding: 15px 30px;
      display: inline-block;
      align-items: center;
      justify-content: center;
      background: #df1a33;
      color: #fff;
      border-radius: 8px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    > img {
      width: 800px;
      @include breakpoint(md) {
        width: 100%;
      }
    }
  }
}
